:root {
  --yellow: #f39a20;
  --brown: #3e1e0f;
  --light-brown: #7b4a2b;
  --white: #ffffff;
  --gray: #f7f7f7;
  --text-dark: #1e1e1e;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--gray);
  color: var(--text-dark);
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}
